.componentContainer {
  max-width: 1200px;
  padding: 96px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  z-index: 4;
  position: relative;
}
/* .content {
  display: flex;
  justify-content: center;
  background-color: red;
} */
.titleContainer {
  display: flex;
  align-items: center;
  margin: auto;
  margin-bottom: 58px;
}
.servicesContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 32px;
}
.servicesText {
  margin: 0 26px;
  font-family: "Syne";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: auto;
  color: #0a0a0a;
}
.carouselContainer {
  margin-top: 54px;
}

@media screen and (min-width: 480px) and (max-width: 1200px) {
  .servicesContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 32px;
    row-gap: 32px;
  }
}

@media screen and (max-width: 480px) {
  .componentContainer {
    padding: 28px 16px;
  }
  .servicesText {
    font-size: 24px;
    margin: 0 16px;
  }
  .star {
    height: 24px;
  }
  .carouselContainer {
    margin-top: 24px;
  }
  .servicesContainer {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 16px;
    /* row-gap: 32px; */
  }
}
@media screen and (max-width: 320px) {
  .componentContainer {
    padding: 28px 8px;
  }
}
