.componentContainer {
  background-color: #010f24;
}
.content {
  max-width: 1200px;
  padding: 100px 100px 0px 100px;
  position: relative;
  margin: auto;
}
.easyVector {
  position: absolute;
  top: 80px;
  left: 90px;
  /* left: 200px; */
  /* right: 0; */
  width: 200px;
}
.topologyContainer {
  /* position: absolute; */
  position: absolute;
  top: 300px;
  right: 0;
  /* background-color: red; */
  /* height: 80%;
  width: 30%; */
  z-index: 2;
  height: 120%;
  /* right: 0; */
}
.topology {
  object-fit: cover;
  height: 100%;
  /* position: absolute; */
  /* top: 80px;
  right: 0;
  z-index: 0;
  margin-left: auto;
  object-fit: contain;
  width: 35%; */
}
.fingerPrintImage {
  position: absolute;
  left: 0;
  width: 60%;
  top: 150px;
}
.title {
  font-family: "Syne";
  font-weight: 700;
  font-size: 62px;
  line-height: 74px;
  text-align: center;
  color: #ffffff;
}
.developers {
  background-image: linear-gradient(180deg, #00d1ff, #0567fb);
  background-size: 100%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.subTitle {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  margin: auto;
  line-height: 31px;
  text-align: center;
  margin-top: 24px;
  width: 50%;
  color: #ffffff;
}
.btn {
  display: flex;
  align-items: center;
  background-color: #0567fb;
  border-radius: 46px;
  padding: 16px 60px;
  margin: auto;
  margin-top: 48px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  border: none;
  color: #ffffff;
}
.arrowRight {
  margin-left: 14px;
}
.heroPngContainer {
  position: relative;
  margin: 0 auto;
  margin-top: 96px;
}
.invoiceContainer {
  display: flex;
  align-items: center;
}
.invoicesPng {
  /* width: 1000px; */
  width: 85%;
  margin: 0 auto;
  z-index: 4;
  position: relative;
}
.dashboardPng {
  width: 60%;
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 5;
  transform: translate(-50%, 0);
}

@media screen and (min-width: 1400px) {
  .easyVector {
    left: 140px;
  }
  .topologyContainer {
    height: 85%;
    top: 300px;
  }
}

@media screen and (max-width: 480px) {
  .content {
    padding: 36px 16px 0 16px;
  }
  .title {
    font-size: 25px;
    line-height: 30px;
  }
  .subTitle {
    font-size: 16px;
    line-height: 21px;
    width: 90%;
    margin-top: 16px;
  }
  .btn {
    padding: 10px 36px;
  }
  .heroPngContainer {
    margin-top: 120px;
  }
  .invoicesPng {
    width: 90%;
  }
  .dashboardPng {
    width: 70%;
  }
}
