.componentContainer {
  background-color: #f8f8f8;
  padding: 28px 100px 56px 100px;
}
.videoContainer {
  position: relative;
}
.videoPlayer {
  width: 70%;
  border-radius: 32px;
  display: block;
  margin: auto;
}
.playBtnContainer {
  position: absolute;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #0567fb;
  border-radius: 50%;
  padding: 16px 18px;
}
.playBtnContainer:hover {
  background-color: orange;
  cursor: pointer;
}
.playBtn {
  width: 18px;
}
.videoText {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 25px;
  text-align: center;
  width: 65%;
  padding-top: 36px;
  margin: auto;
  color: #8e8e8e;
}

.learnMoreContainer {
  display: flex;
  margin: auto;
  justify-content: center;
  margin-top: 28px;
  align-items: center;
  gap: 8px;
}
.learnMore {
  font-family: "DM Sans";
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  color: #0567fb;
}
