.componentContainer {
  background-color: #08162a;
  padding: 54px 100px;
  z-index: 4;
  position: relative;
}
.content {
  max-width: 1200px;
  margin: auto;
}
.title {
  font-family: "Syne";
  text-align: center;
  font-weight: 600;
  font-size: 36px;
  line-height: 50px;
  color: #ffffff;
}

.iconsContainer {
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.iandm,
.visa,
.masterCard,
.unionPay,
.mPesa {
  width: 84px;
}

.bitcoin {
  width: 54px;
}
.ethereum {
  height: 54px;
}

@media screen and (max-width: 480px) {
  .componentContainer {
    padding: 22px 16px;
  }
  .title {
    font-weight: 600;
    font-size: 18px;
  }
  .iconsContainer {
    gap: 16px;
    margin-top: 8px;
    justify-content: center;
  }
  .iandm,
  .visa,
  .masterCard,
  .unionPay,
  .mPesa {
    width: 64px;
  }
  .bitcoin {
    width: 48px;
  }
  .ethereum {
    height: 48px;
  }
}
