.componentContainer {
  background-color: #2746e1;
  padding: 64px 0px 64px 100px;
  position: relative;
  background-image: url(../../assets/paymentTopography.png);
}
.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
}
.bottomIcon {
  position: absolute;
  left: 0;
  bottom: 0;
}
.centerIcon {
  right: 70%;
  position: absolute;
}
.title {
  font-family: "Syne";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 50px;
  width: 360px;
  color: #ffffff;
}
.downloadBtnContainer {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 86px;
}
.appleDownloadBtn {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  gap: 12px;
  border: none;
  border-radius: 5.4px;
  background: #151515;
}
.andriodDownloadBtn {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  gap: 12px;
  border: none;
  border-radius: 5.4px;
  background: #fff;
}
.upText,
.upTextDark {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 8px;
  line-height: 10px;
}
.downText,
.downTextDark {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 13.5252px;
  line-height: 18px;
}
.downText,
.upText {
  color: #ffffff;
}
.downTextDark,
.upTextDark {
  color: #000;
}
.comingSoon {
  font-family: "Syne";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 50px;
  color: #ffffff;
}
.right {
  width: 55%;
  height: 100%;
  z-index: 10;
  position: absolute;
  display: flex;
  align-items: center;
  right: 0;
}
.paymentImage {
  max-width: 100%;
  max-height: 95%;
  position: absolute;
  right: 0;
}

@media screen and (min-width: 1400px) {
  .centerIcon {
    right: 50%;
  }
}

@media screen and (max-width: 480px) {
  .componentContainer {
    padding: 36px 0px 36px 16px;
  }
  .title {
    font-size: 26px;
    line-height: 42px;
  }
  .bottomIcon,
  .centerIcon {
    display: none;
  }
  .content {
    flex-direction: column;
  }
  .right {
    position: unset;
    width: 100%;
  }
  .downloadBtnContainer {
    margin-top: 56px;
  }
  .comingSoon {
    margin-bottom: 42px;
  }
  .paymentImage {
    max-width: unset;
    max-height: unset;
    height: 100%;
    width: 100%;
    position: unset;
  }
}
